/* Write your code here. */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
}
.InnerContainer {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 55vw;
}
.userDp {
  height: 75px;
  width: 75px;
}
.product {
  height: 60px;
  width: 60px;
}
.para {
  font-family: "Roboto";
  color: #1e293b;
  text-align: center;
}
