li {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.logo {
  height: 30px;
}
.list-con {
  display: flex;
  align-items: center;
}
p {
  padding: 10px;
}
button {
  background-color: transparent;
  border: 0px;
}
